<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS in head of HTML -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Successfully added employee!</h1>
    <br>
    <table class="table">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Phone no.</th>
            <th>Postal Code</th>
            <th>Salary</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each="emp: ${employees}">
                <td th:text="${emp.firstName}"></td>
                <td th:text="${emp.lastName}"></td>
                <td th:text="${#dates.format(emp.dob, 'dd-MMM-yyyy')}"></td>
                <td th:text="${emp.email}"></td>
                <td th:text="${emp.phoneNo}"></td>
                <td th:text="${emp.postalCode}"></td>
                <td th:text="${emp.salary}"></td>
                <td>
                    <!-- REVIEW CODE, hyperlink is still a GET mapping -->
                    <a class="btn btn-danger" th:href="@{/employees/delete/{email}(email=${emp.email})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a class="btn btn-primary" href="/employees/add" role="button">Add new</a>
    
    
</body>
</html>